<div class="jumbotron center">
	<h1>Welcome to the WhiskeyDB</h1>
	<p><%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %> 
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
    </p>
	<p>to search or update the largest whiskey database</p>
</div>